body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

.checkout-form {
    width: 800px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: white;
}

.checkout-form input[type="text"],
.checkout-form select { /* Added select here */
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 16px;
    transition: border 0.3s ease;
}

.checkout-form input[type="text"]:focus,
.checkout-form select:focus { /* Added select here */
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.checkout-form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    max-width: 200px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.checkout-form button:hover {
    background-color: #0056b3;
}
